export(run_pipeline_from_cov)
export(read_bismark_cov)
export(filter_cpgs)
export(filter_samples)
export(aggregate_tiles)
export(calc_beta_m)
export(do_dimred)
export(check_batch_effects)
export(apply_combat)